.flexContainer{
    display: flex;
    flex-direction: row;
  }

.banner{
    width: 45vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .bannerImage{
    width: 100%;
    height: 100%;
  }
  .imageTitle{
    position: absolute;
    bottom: 10%;;
    font-family: 'Roboto';
    color: white;
    margin-left: 80px;
    letter-spacing: 20%;
    padding: 10px;
  }