.selectedChoice{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #148A08;
    border-radius: 31px;
    width: 6.8rem;
    height: 2rem;
    margin-right: 1rem;
    margin-bottom: 0.8rem;
    font-family: 'Roboto';
    color: white;
}
.cross:hover{
cursor: pointer;
}